altgraph==0.17.4
astroid==3.3.10
attrs==25.4.0
beautifulsoup4==4.13.4
bidict==0.23.1
bs4==0.0.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
cryptography==45.0.2
Deprecated==1.2.18
dill==0.4.0
dolreader==1.1.1
geckolibs==0.2.3
idna==3.10
isort==6.0.1
Jinja2==3.1.6
jsonpickle==4.0.5
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==25.0
pillow==11.2.1
platformdirs==4.3.8
pycparser==2.22
PyGithub==2.6.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyisotools==2.4.7
PyJWT==2.10.1
pylint==3.3.7
PyNaCl==1.5.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
QDarkStyle==3.2.3
QtPy==2.4.3
referencing==0.37.0
requests==2.32.3
rpds-py==0.28.0
ruff==0.14.4
setuptools==80.8.0
shiboken6==6.9.0
sortedcontainers==2.4.0
soupsieve==2.7
tomlkit==0.13.2
typing_extensions==4.13.2
urllib3==2.4.0
wrapt==1.17.2
